.edit-container {
  width: 400px;
  margin: 80px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.edit-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.edit-container label {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  display: block;
  color: black;
}

.edit-container input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.edit-container p{
  color: black;
}
.button-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.update-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background: orange;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
.ticket-details {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f4f6f9;
  border: 1px solid #ddd;
}

.ticket-details h3 {
  margin-bottom: 10px;
  color: #333;
}

.ticket-details p {
  margin: 5px 0;
  font-size: 14px;
}
