 * {
  box-sizing:border-box;
  margin: 0;
  padding: 0;

}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.SearchBar{
    color: antiquewhite;
    width: 100%;
    display: flex;
    margin: 0 auto 21px;
   border-radius: 10px;
   position: relative;
   align-items: center;
   -webkit-box-align: center;
}