.results-container {
  padding: 30px;
  color: black;
}

.flight-card {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;

}